name: amazingneoicons
description: Get All Amazingneo Icons free
version: 0.0.1
author: mdsami
homepage:

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  fonts:
    - family: MaterialDesignIconFont
      fonts:
        - asset: packages/amazingneoicons/fonts/amazing-neo.ttf
        - asset: packages/amazingneoicons/fonts/amazing-neo-brands.ttf

